* {
  margin: 0;
  padding: 0;
}
header {
  background-image: url(image/auto3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: space-between;
  font-family: cursive;
  position: relative;
}
nav ul {
  display: flex;
  padding: 40px;
  margin: 20px;
  gap: 40px;
  list-style: none;
  transform: translate(-5%);
}

.logo {
  text-decoration: none;
  color: whitesmoke;
  font-size: 40px;
  padding: 40px;
}

nav a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 20px;
}

.sect {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  color: rgb(15, 3, 3);
  background: #c9c1c1;
  border-radius: 10px;
  width: 80%;
  height: 30%;
  width: 60%;

  box-shadow:
    rgba(88, 94, 97, 0.596) 0px 10px 20px,
    rgba(110, 122, 129, 0.23) 0px 6px 6px;
}
.sect h1 {
  color: rgb(236, 217, 194);
}

.icone {
  display: flex;
  justify-content: space-around;
  border: 2px solid;
  border-radius: 40px;
  place-items: center;
  height: 70px;
  margin: 20px;
  font-size: 23px;
}
#rech {
  background-color: rgb(32, 145, 226);
  border-radius: 50px;
}
