* {
  margin: 0;
  padding: 0;
}
header {
  background-image: url(image/image\ 7.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: space-between;
  font-family: cursive;
  position: relative;
}
nav ul {
  display: flex;
  padding: 40px;
  margin: 20px;
  gap: 40px;
  list-style: none;
  transform: translate(-5%);
}

.logo {
  text-decoration: none;
  color: whitesmoke;
  font-size: 40px;
  padding: 40px;
}

nav a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 20px;
}

.bloc {
  position: absolute;
  left: 50%;
  top: 95%;
  transform: translate(-50%, -50%);
  color: rgb(12, 5, 5);
  background: #fffefe;
  border-radius: 50px;
  font-size: 20px;
  width: 70%;
  box-shadow:
    rgba(96, 151, 179, 0.623) 0px 10px 20px,
    rgba(81, 84, 85, 0.411) 0px 6px 6px;
}
.bi h1 {
  color: rgb(236, 217, 194);
  margin-left: 4%;
  font-size: 60px;
}

.item {
  display: flex;
  justify-content: space-between;
  border: 1px solid;
  border-radius: 65px;
  place-items: center;
  height: 80px;
  margin: 40px;
  padding: 20px;
}
.le {
  display: flex;
  align-items: center;
  border-left: 1px solid;
  height: 50%;
}
.posi {
  border-left: none;
}
.le i {
  opacity: 0.33 ;
  font-size: 50px;
}
.rech {
  background-color: rgb(32, 145, 226);
  border-radius: 50px;
  font-size: 45px;
}
.local {
  border-left-style: none;
}
.corps {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 230px;
  font-size: 30px;
}
#why {
  display: flex;
  justify-content: center;
  padding: 200px;
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.pere {
  display: flex;
  text-align: center;
  justify-content: center;
}
.patron {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  text-align: center;
}
.cram2 i {
  opacity: 0.5;
  font-size: 30px;
  padding-top: 10px;
  width: 10%;
  height:50px;
  color: rgb(0, 96, 214);
  border-radius: 10px;
  background-color: #8dcffb;
}
.cram2 h3 {
  margin: 10%
}

#our {
  display: flex;
  margin: 50px;
  justify-content: center;
  text-align: center;
  font-size: 20px;
}
.patron2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
}
.cram3 {
display: flex;
 padding: 50px;
}
.cram3 i {
  padding-right: 20px;
  font-size: 60px;
}
.top {
  display: flex;
  justify-content: center;
  padding-top:6%;
  font-size: 20px;
    font-family: Geneva ;
}
.gril {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
    align-items: center;
  margin: 30px;
}
.rectangle .Te {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  gap: 90px;
  
}
.rectangle .Ta {
   display: flex;
   justify-items: center;
}
